<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YKT.RubberTraceSystem.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <YKT.RubberTraceSystem.Windows.Properties.Settings>
            <setting name="QRH" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SCALE" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="QRL" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CQRH" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CQRL" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="CSCALE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="COFFSET" serializeAs="String">
                <value>200</value>
            </setting>
        </YKT.RubberTraceSystem.Windows.Properties.Settings>
    </userSettings>
</configuration>
